<div class="content" role="main">
  <h2 class="title">Adicione Produtos abaixo</h2>
  <div class="content">

    <div class="form-group">
      <label for="file">Apenas Arquivos com extensao JSON</label>
      <br />
      <br />
      <br />

      <input
      class="files"
      type="file"
      id="file"
      (change)="saveFile($event)"
      accept=".json"
      >
  </div>
    <br />

    <button class="btn" (click)=[handleSubmit()]>Adicionar </button>
  </div>
  <router-outlet></router-outlet>
</div>
